body {
    margin-top: 0px;
    text-align: center;
    background-color: white;
}
h1{
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    margin-top: 15px;
    height: 40px;
    width: 70px;
    border-radius: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main{
    margin:auto
    background-color: rgb(81, 255, 197);
}
.msgBox{
    background-color: aliceblue;
    border: 5px solid;
    margin: auto;
    width: 50%;
    height: 150px;
    padding: 5px;
    border-radius: 10px;
    text-align: left;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.input{
    
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inputName{
    width: 45%;
    margin-top: 15px;
    height: 30px;
    border-radius: 10px;
    text-align: left;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inputMsg{
    width: 45%;
    margin-top: 15px;
    height: 30px;
    border-radius: 10px;
    text-align: left;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.display{
    text-align: left;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}